/*
This project completed as part of the Codecademy Git/Github course/
Used Flexbox for the layout as a simple alternative to using a CSS frameowrk
such as Bootstrap.
*/

:root {
  --black: #000000;
  --cod-gray: #0e0e0e;
  --white: #ffffff;
  --gray: #808080;
  --aqua-marine: #80ffd4;

}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cod-gray);
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--black);
}

main, section.travel, footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: var(--white);
}

h2 {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: var(--white);
}

p {
  font-size: 21px;
  color: var(--gray);
  text-align: center;
}

p#copyright {
  align-self: flex-end;
  margin-right: 10px;
}

a {
  color: #80ffd4;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: 5px 0px 20px;
}

.travel img {
  margin-bottom: 25px;
}

footer a {
  margin-bottom: 0px;
}

footer img {
  margin-bottom: 2px;
}


